//User Active Login Error
div#loginError {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

// Body
$body-bg: #f5f8fa;
section.content.container-fluid {
    background: #fff;
}
body.skin-blue.sidebar-mini {
    color: #848586;
}

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//admin lte
nav.navbar.navbar-static-top {
    height: 50px!important;
}
.main-header a.logo {
    text-decoration: none!important;
}
.skin-blue .main-header .navbar {
    background-color: #2ea94a;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #2ea94a !important;
    height: 50px !important;
}
.skin-blue .main-header .logo:hover {
    background-color: #17802f;
}
.skin-blue .main-header .logo {
    background-color: #17802f;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}

//datatable
div.dataTables_paginate {
	float: right;
	margin-top: -20px!important;
}
a#users-table_previous {
    padding-right: 10px!important;
}
div#users-table_paginate a {
    color: gray!important;
    font-weight: bold!important;
}
table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    width: 100% !important;
    color: #848586;
}

.login-box-body{
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
}

//User Avatar
img.img-circle.master {
    border-radius: 50%;
    height: 50px!important;
}

//previous and next 
div#users-table_paginate {
    cursor: pointer;
}

//Modal
.modal-header {
    background: #2ea94a;
    color: white;
}

//form 
.form-control {
    color: #a48d86!important;
}
textarea.form-control {
    height: 100px;
}