//User Active Login Error
div#loginError {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

// Body
$body-bg: #f5f8fa;
section.content.container-fluid {
    background: #fff;
}
body.skin-blue.sidebar-mini {
    color: #848586;
}
.container{
    background: #fff;
    padding: 25px!important;
}


// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//admin lte
nav.navbar.navbar-static-top {
    height: 50px!important;
}
.main-header a.logo {
    text-decoration: none!important;
}
.skin-blue .main-header .navbar {
    background-color: #2ea94a;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #2ea94a !important;
    height: 50px !important;
}
.skin-blue .main-header .logo:hover {
    background-color: #17802f;
}
.skin-blue .main-header .logo {
    background-color: #17802f;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}

//datatable
div.dataTables_paginate {
	float: right;
	margin-top: -20px!important;
}
a#users-table_previous {
    padding-right: 10px!important;
}
div#users-table_paginate a {
    color: gray!important;
    font-weight: bold!important;
}
table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    width: 100% !important;
    color: #848586;
}

.login-box-body{
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
}

//User Avatar
img.img-circle.master {
    border-radius: 50%;
    height: 50px!important;
}

//previous and next 
div#users-table_paginate {
    cursor: pointer;
}

//Modal
.modal-header {
    background: #2ea94a;
    color: white;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background: transparent!important;
}
.modal-content {
    width: 120%!important;
}
.col-md-6.modal-prof div {
    font-weight: bold;
}
.col-md-6.modal-prof > div span {
    font-style: italic;
    margin-left: 5px;
    font-weight: lighter!important;
}

@media only screen and (max-width: 767px) {
    .modal-content {
        width: 100%!important;
    }
}

//form 
.form-control {
    color: #a48d86!important;
}
textarea.form-control {
    height: 100px;
}

.treeview-menu {
    display: none;
}

//ALL USERS 
.container.profile {
    background: #0e0e0e!important;
}
.show-user {
    padding: 20px 0px;
    color: green;
    font-weight: bold;
}
div.row.thumb-profile {
    text-align: center; 
    color: #fff;
}
.caption h3 {
    font-style: italic;
}
.user-status-active {
    color: green!important;
    font-weight: bold!important;
    width: 80%;
    margin: auto;
}
.user-status-inactive {
    color: red;
    font-weight: bold!important;
    width: 80%;
    margin: auto;
}
.thumbnail-hover {
    position: relative;
    width: 80%;
    margin: auto;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.thumbnail-hover:hover .image {
  opacity: 0.3;
}

.thumbnail-hover:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

//pagination
ul.pagination {
  background: #000;
  text-align: right!important;
  margin: auto;
  padding: 16px 25px;
}
.pagination li {
  background: #28a745;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-right: 6px;
}
.pagination li a {
  background: none;
  color: #fff;
  padding: 19px;
}
@media only screen and (max-width: 1990px) {
    .container.profile {
        max-width: 100%!important;
    }
}
